<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="javascript:;" th:href="@{/}">Veiculos</a>
        </div>
    </nav>
  </header>
  
  <main role="main">
    <section class="my-4">
      <div class="container">
          <h2>Alteração de Veiculo</h2>
      </div>
    </section>
  
    <section>
      <div class="container">
        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Plate</mat-label>
                <input  matInput  id="plate" name="plate"
                  class="form-control"
                  [(ngModel)]="veiculo.plate" required disabled/>
                </mat-form-field>
              </div>  

        

              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Model</mat-label>
                <input matInput  id="model" name="model"
                  class="form-control" 
                  [(ngModel)]="veiculo.model" required/>
                </mat-form-field>
              </div>


          <div class="form-group">
            <mat-form-field class="example-full-width">
                  <mat-label>Manufacturer</mat-label>
            <input matInput name="manufacturer"
              class="form-control" id="manufacturer"
              [(ngModel)]="veiculo.manufacturer" required/>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>COlor</mat-label>
            <input matInput name="color"
              class="form-control" id="color"
              [(ngModel)]="veiculo.color" required/>
            </mat-form-field>
          </div>
      
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
            <select matNativeControl name="status" id="status" [(ngModel)]="veiculo.status" >
              <option>Selecione...</option>
              <option type="ATIVO" name="ATIVO" value="ATIVO">Ativo</option>
              <option  type="INATIVO" name="INATIVO" value  ="INATIVO">Inativo</option>
            </select>  
            </mat-form-field>
        </div>
  
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </section>
  </main>