<main role="main">
    <section class="my-4">
      <div class="container">
          <h2>Cadastro de veiculos</h2>
      </div>
    </section>
  
    <section>
        <form [formGroup]="veiculoForm" (ngSubmit)="onSubmit()" novalidate>

          

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Plate</mat-label>
                <input matInput placeholder="Ex. AAA-0000" size="30" formControlName="plate">
              </mat-form-field>
              </div> 

          <div class="form-group">
           <mat-form-field class="example-full-width">
                <mat-label>Model</mat-label>
                <input matInput placeholder="Modelo" size="30" formControlName="model">
              </mat-form-field>
          </div>
      
          <div class="form-group">
             <mat-form-field class="example-full-width">
              <mat-label>Manufacturer</mat-label>
              <input matInput placeholder="Manufacturer" size="30" formControlName="manufacturer">
            </mat-form-field>
        </div>
  
        <div class="form-group">
             <mat-form-field class="example-full-width">
              <mat-label>Color</mat-label>
              <input matInput placeholder="Color" size="30" formControlName="color">
            </mat-form-field>
        </div>
        
  
        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <select formControlName="status" matNativeControl>
                <option selected>Selecione...</option>
                <option value="ATIVO">Ativo</option>
                <option value="INATIVO">Inativo</option>
              </select>
            </mat-form-field>

        </div>
     <button type="submit" class="btn btn-success">Salvar</button>
        </form>
      
    </section>